<div class='container be-gray'>
    <div class='row'>
        <div class='col-xs-12 col-md-12'>
            <h1>Editing Code Task</h1>
        </div>
    </div>
</div>

<%= render 'form' %>
<div class='container be-round_ligth_gray'>
    <div class='row'>
        <div class='col-xs-3 col-md-3'>
            <br>
            <%= link_to 'Show', @code_task, class:'btn btn-md btn-block btn-default' %>
        </div>
        <div class='col-xs-3 col-md-3'>
            <br>
            <%= link_to 'Back', code_tasks_path, class:'btn btn-md btn-block btn-default' %>
        </div>
    </div>
</div>
