/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/sessions.scss */
.btn-submit {
  background-color: #414141;
  color: #ECF0F1;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}

/* line 11, /home/ubuntu/workspace/app/assets/stylesheets/sessions.scss */
.username {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px;
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
}

/* line 21, /home/ubuntu/workspace/app/assets/stylesheets/sessions.scss */
.passwd {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px;
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
}

/* line 31, /home/ubuntu/workspace/app/assets/stylesheets/sessions.scss */
.form {
  text-align: center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 300px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';

html, body {
  background: #fff;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0 5px;

}

$tcolor: #414141; $fcolor: #ECF0F1;
thead th {
  background-color: $tcolor;
  color: $fcolor;
}
tbody td {
  background-color: #EEEEEE;
  font-size: 12px;
}

tr td:first-child,
tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #8a9da7;

}
